{% extends "../base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">На главную</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto">
                <a class="nav-link" href="/posts">Блог</a>
                <a class="nav-link active" href="/books">Книги</a>
                <a class="nav-link" href="/textbooks">Учебники</a>
                <a class="nav-link" href="/publications">Публицистика</a>
                <a class="nav-link" href="/texts">Проза и Поэзия</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/logout">Выход</a>
            </div>
        </div>
    </div>
</nav>
<br>
<div class="container">
    <a class="btn btn-outline-success" href="/books/create">Добавить</a>
    <br><br>
    <ul>
        {% for book in books %}
        <li><a href="/books/update/{{ book.id }}">{{ book.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
