<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Shubinav.ru</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <!-- <link href="main/img/favicon.png" rel="icon"> -->
        <!-- <link href="main/img/apple&#45;touch&#45;icon.png" rel="apple&#45;touch&#45;icon"> -->

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="/static/vendor/aos/aos.css" rel="stylesheet">
        <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

        <header id="header">
            <div class="d-flex flex-column">

                <div class="profile">
                    <img src="/static/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
                    <h1 class="text-light"><a href="index.html">Шубин<br>Александр<br>Владленович</a></h1>
                    <div class="social-links mt-3 text-center">
                        <a href="https://t.me/shubinalexandrvladlenovich" class="" target="_blank"><i class="bx bxl-telegram"></i></a>
                        <a href="https://www.youtube.com/@ShubinTV" class="" target="_blank"><i class="bx bxl-youtube"></i></a>
                    </div>
                </div>

                <nav id="navbar" class="nav-menu navbar">
                    <ul>
                        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Главная</span></a></li>
                        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Об Авторе</span></a></li>
                        <li><a href="#books" class="nav-link scrollto"><i class="bx bx-book"></i> <span>Научные Книги и Статьи</span></a></li>
                        <li><a href="#publications" class="nav-link scrollto"><i class="bx bx-book"></i> <span>Публицистика</span></a></li>
                        <li><a href="#texts" class="nav-link scrollto"><i class="bx bx-book"></i> <span>Проза и Поэзия</span></a></li>
                        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Контакты</span></a></li>
                    </ul>
                </nav>
            </div>
        </header>

        {% block content %}{% endblock %}

        <footer id="footer">
            <div class="container">
            </div>
        </footer>

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
        <script src="/static/vendor/aos/aos.js"></script>
        <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="/static/vendor/typed.js/typed.umd.js"></script>
        <script src="/static/vendor/waypoints/noframework.waypoints.js"></script>

        <!-- Template Main JS File -->
        <script src="/static/js/main.js"></script>
    </body>
</html>
